.content {
  margin: 10px 20px 0;
  min-height: 800px;
}


.container > .ant-menu-vertical{
  border: 1px solid #f0f0f0;
}

/* .container-right{
  display: flex;
  flex-wrap: wrap;
} */

.container-right  .container-card {
  height: 300px;
}

.container-right .ant-card-body {
  position: relative;
  height: 240px;
  padding: 20px;
}

.container-card-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.container-card-time {
  position: absolute;
  bottom: 20px;
  color:#696464
}